<head>
    <meta charset="utf-8" />
    <title>Add Item</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
 
<body>
    <h1>Recidgerator</h1>
 
    <br>
 
    <%- foodTable %>
 
    <p>Select Ingredients:</p>
 
    <form action="/postFood" method="post">


        <select name="foodsSelected" multiple>
            <%- selectFoods %>
        </select>

        <br><br>
        <input type="submit" value="Find Recipes">
    </form>
 
    <hr>
 
    <a id="Home" href="/">Home</a>
 
</body>